.panel.panel-default
  .panel-heading
    %h2 Sign in
  .panel-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      -if flash[:alert]
        .alert.alert-danger
          = flash[:alert]
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Sign in"
  .panel-footer
    = render "devise/shared/links"
