%h1 Listing categories

%table.table{:class => 'table-hover'}
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    -if current_user
      - categories.each do |category|
        %tr
          %td= category.name
          %td= link_to 'Show', category
          -if current_user.admin?
            %td= link_to 'Edit', edit_category_path(category)
          %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if current_user && current_user.admin
  .row
    .text-center
      = link_to 'New category', new_category_path, class:"btn btn-primary btn-lg"
