%p#notice= notice

%h3
  %b Category:
  = category.name

%ul
  - category.products.each do |product|
    %li
      = link_to product.title, category_product_path(category, product)

= link_to 'View all products', category_products_path(category), class: 'btn btn-primary'

%p
  %h3 New product
  = render 'products/form'

%a{:href => edit_category_path(category), :class => 'btn btn-primary'}
  Edit&nbsp
  %span{:class => 'glyphicon glyphicon-edit'}

%a{:href => categories_path, :class => 'btn btn-primary'}
  Back&nbsp
  %span{:class => 'glyphicon glyphicon-arrow-left'}
