%p#notice.bg-info= notice
%p#error= flash[:error]

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name

%h3 Reviews
= render 'reviews/form'

%br

= render reviews


%a{:href => edit_category_product_path(category.id, product.id), :class => 'btn btn-primary'}
  Edit&nbsp
  %span{:class => 'glyphicon glyphicon-edit'}

%a{:href => category_products_path, :class => 'btn btn-primary'}
  Back&nbsp
  %span{:class => 'glyphicon glyphicon-arrow-left'}
