.panel.panel-primary
  .panel-heading
    .h2
      = product.title
  .panel-body
    .row
      .col-md-1
      .col-md-10
        %table.table{:class =>'table-information'}
          %tbody
            %tr
              %td
                .title Title:
              %td
                = product.title
            %tr
              %td
                .title Description:
              %td
                = product.description
            %tr
              %td
                .title Price:
              %td
                = product.price
            %tr
              %td
                .title Category:
              %td
                = product.category.name

%h3 Reviews

.panel.panel-default
  .panel-heading
    %h4 New review
  .panel-body
    = render 'reviews/form'

%br
= render reviews

.text-center
  %a{:href => edit_category_product_path(category.id, product.id), :class => 'btn btn-primary'}
    Edit&nbsp
    %span{:class => 'glyphicon glyphicon-edit'}

  %a{:href => category_products_path, :class => 'btn btn-primary'}
    Back&nbsp
    %span{:class => 'glyphicon glyphicon-arrow-left'}