.panel.panel-info
  .panel-heading
    %em= review.author
  .panel-body
    .row
      .col-sm-1
        .text-center
          %h4
            - if review.rating === 1
              .label.label-danger
                = review.rating
            - else
              - if review.rating == 5
                .label.label-success
                  = review.rating
              - else
                .label.label-warning
                  = review.rating
      .col-sm-11
        = review.content
  .panel-footer
    Created at:
    = review.created_at.strftime('%d-%m-%y')

