!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              = link_to 'My profile', current_user
            %li
              = link_to 'Log out', destroy_user_session_path, method: 'delete'
          - else
            %li
              = link_to 'Log in', user_session_path
            %li
              = link_to 'Sign up', new_user_registration_path

    .container-fluid
      .row
        .col-md-3
        .col-md-6
          = yield
        .col-md-3
